.section__about
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        &_greeting
        {
            @extend %flexfordiv;
            flex-direction: column;
            padding: 0 0 30px 0;           
        }

        &_text 
        {
            padding: 0 0 30px 0;   
        }
        &_button{
            & button:hover{
                @extend %animationButtonHover
            }
            & button:active{
                @extend %animationButtonActive
            }
        }
    }
.section__photo {
        display: flex;
        justify-content: center;
    
    
    & img{
        width: 500px;
    }
}       