h3
{
    font-family: 'NEXT ART Bold';
    font-weight: 700;
    font-size: 72px;
    line-height: 81.6px;
    text-transform: uppercase;
    color: #E4E4E4;
}

h4{
    font-family: 'NEXT ART Bold';
    font-weight: 700;
    font-size: 72px;
    line-height: 81.6px;
    text-transform: uppercase;
    color: #E4E4E4;
}

h5
{
    font-family: 'NEXT ART Bold';
    font-weight: 700;
    font-size: 60px;
    line-height: 81.6px;
    text-transform: uppercase;
    color: #E4E4E4;
}