header{
    background: $colorBackgroundDark;
    max-width: 100%;
}

.header {
    @extend %flexfordiv;
    padding: $paddingForSections;
    
    &__menu{
        @extend %flexfordiv;
      }

    &__menu_item a{
        color: #E4E4E4;
        font-family: Poppins;
    
        &:hover{
           @extend %animationhover
        }
    }
}
  
.logo{
    text-transform: uppercase;
    font-family: Caveat;

    a{
        color: aliceblue;
    }
}