/*------------------------HEADERS------------------------*/ 
  .header {
    display: flex;
    justify-content: space-between;
    padding: 0px 0 0 0px;
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
  
  
  }
  
  .header__menu{
    display: flex;
    justify-content: space-between;
  }
  
  .logo{
    text-transform: uppercase;
    font-family: Caveat;
  }
  
  .logo a{
    color: aliceblue;
  }
  
  .header__logo{
    padding-left: 100px;
  }
  
  .header__menu_item a{
    color: #E4E4E4;
    font-family: Poppins;
  }
  
  .header__menu_item a:hover{
    transition: opacity .2s linear;
    opacity: 0.5;
  }