.section{
    @extend %flexfordiv;
    padding: $paddingForSections;
    background: $colorBackgroundDark;
    &__about
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        &_greeting
        {
            @extend %flexfordiv;
            flex-direction: column;
            padding: 0 0 30px 0;           
        }

        &_text 
        {
            padding: 0 0 30px 0;   
        }
        
    }
    &__photo {
        display: flex;
        justify-content: center;
    }
    
    & img{
        width: 500px;
    }
}    